.header {
  padding: 40px 0;
  color: var(--light-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  &__container {
    max-width: 1382px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger-box {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 40px;
  }




}

.burger {
  @include burger;
  --burger-width: 30px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  color: var(--light-color);
}

.nav {
  font-weight: 400;
  &__list {
    display: flex;
    gap: 40px;
  }

  @include big-desktop {
    display: none;
  }




}

.logo {
  width: 220px;
  height: 40px;
  background-image: url('../../img/logo.svg');
  @include bg-cover;
  @include mobile {
    width: 165px;
    height: 31px;
  }
}


.user-nav {
  display: flex;
  gap: 60px;

  &__phone,
  &__search,
  &__lang {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__search {
    color: var(--light-color);
  }

  &__lang {
    color: var(--light-color);
  }

  @include big-desktop {
    display: none;
  }


}



.menu {
  transform: translateX(-200%);
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: fixed;
  padding: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: transform 0.5s ease, visibility 0.5s ease, opacity 0.5s ease;


  &.active {
    transform: translateX(0);
    overflow-y: auto;
    opacity: 1;
    visibility: visible;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.5s ease, visibility 0.5s ease, opacity 0.5s ease;
    @include big-desktop {
      padding: 50px;
    }


  }

  &.active .nav {
    display: block;

  }

  &.active .user-nav {
    display: block;
  }

  &.active .nav__list {
    flex-direction: column;
    gap: 10px;
  }

  &.active .user-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &.active .nav__link,
  .nav-search__head,
  .nav-phone__link,
  .nav-lang__head {
    font-size: 25px;
  }

  &.active .user-nav__lang svg {
    width: 25px;
    height: 25px;
  }

  &__close {
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 40px;
    color: white;
  }

}

.user-nav__lang-box{
  position: relative;
}

.lang-dropdown {
  position: absolute;
  top: 15px;
  left: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility 0.3s ease;
}

.lang-dropdown.active {
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease, visibility 0.3s ease;
}

.lang-dropdown__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}




