.production {
  padding: var(--offset) 0;

  &__text {
    grid-column: 4 span;
  }

  &__counter {
    display: inline-block;
    margin-bottom: 52px;
  }

  &__title {
    margin: 0;
    margin-bottom: 32px;
  }

  &__descr {
    margin: 0;
    margin-bottom: 40px;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 32px;
    border-radius: 2px;
    border: 2px solid var(--primary-primary-700, #4D5D99);
    color: var(--primary-primary-700, #4D5D99);
    text-align: center;
    font-family: Golos;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  &__box {
    grid-column: 8 span;
    position: relative;
    @include big-desktop {
      grid-column: 4 span;
    }


  }

  &__img {
    height: 100%;
  }

  &__box-img {
    position: relative;
    max-width: 600px;
    height: 600px;

    &::before {
      content: "";
      position: absolute;
      width: 175px;
      height: 34px;
      top: 38px;
      left: 42px;
      background-image: url('../img/logo-white.svg');
      @include bg-cover;
    }
  }


  &__box-block {
    top: 0px;
    right: -1px;
    background-color: #202740;
    position: absolute;
    width: 181px;
    height: 100%;
    @include tablet {
      display: none;
    }

  }

  &__block-inner {
    position: relative;
    height: 100%;

  }

  &__block-arrow {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__block-more {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: var(--secondary-white, #FFF);
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }



}


