.prod {
  padding: var(--offset) 0;

  &__box-info {
    // max-width: 580px;
    grid-column: 4 / 6 span;
    @include big-desktop {
      grid-column: 1 / 8;
    }

    @include mobile {
      grid-column: 4 span;
    }

  }

  &__counter {
    align-self: start;
    grid-column: 2 span;
  }

  &__box {
    // gap: 200px;
    // align-items: flex-start;
    margin-bottom: 80px;
  }



  &__title {
    margin: 0;
    margin-bottom: 32px;
  }

  &__descr {
    margin: 0;
  }
  &__item {
    grid-column: 6 span;
    min-height: 345px;
    background-color: #F3F6F8;
    background-image: url('../../img/prod-1.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40%;
    @include big-desktop {
      grid-column: 4 span;
      background-size: 27%;
      background-position: bottom right;
    }

    @include tablet {
      min-height: 250px;
    }

    @include mobile {
      min-height: 200px;
    }


  }

  &__item-box {
    padding: 52px 10px 44px 72px;
    max-width: 350px;

    @include big-desktop {
      padding: 30px 20px 40px 25px;
    }

    @include mobile {
      padding: 20px 10px 30px 25px;
    }
  }

  &__item--2 {
    background-image: url('../../img/prod-2.png');
  }

  &__item--3 {
    background-image: url('../../img/prod-3.png');
  }


  &__item--4 {
    background-image: url('../../img/prod-4.png');
  }

  &__item-title {
    margin: 0;
    margin-bottom: 40px;
    color: var(--bg-color);
  }

  &__item-descr {
    margin: 0;
    margin-bottom: 40px;
  }

  &__item-link {
    display: flex;
    gap: 10px;
    color: #4D5D99;
  }



}

