.services {
  padding: var(--offset) 0;
  background-color: #F3F6F8;

  &__box {
    @include big-desktop {
      grid-column: 4 span;
    }
  }


  &__title {
    grid-column: 4 / 6 span;
    margin: 0;
    margin-bottom: 80px;
    // max-width: 580px;
    @include small-tablet {
      grid-column: 4 span;
    }
  }

  &__counter {
    align-self: start;
    grid-column: 2 span;
  }

  &__item {
    grid-column: 3 span;
    padding: 44px;
    min-height: 490px;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
    @include big-desktop {
      grid-column: 4 span;
      min-height: 300px;
      padding: 30px;
    }

  }

  &__item-title {
    color: var(--bg-color);
    margin: 0;
    font-size: 24px;
    margin-bottom: 40px;
  }

  &__item-descr {
    margin: 0;
    font-size: 14px;
  }

  &__item-link {
    display: flex;
    gap: 10px;
    color: #4D5D99;
    margin-top: auto;
  }

}
