<section class="contacts" id="contacts">
  <div class="container grid">
    <div class="contacts__info">
      <span class="section-counter contacts__counter">04 - КОНТАКТЫ</span>
      <h2 class="contacts__title section-title">Начните сотрудничество
        с нами прямо сейчас</h2>

      <div class="contacts__column contacts__phone">
        <div class="contacts__column-item">
          <h3 class="contacts__column-head">Телефон</h3>
          <div class="contacts__phone-box">
            <a class="contacts__column-phone" href="tel:74959677307">+7 (495) 967-73-07</a>
          <div class="socials contacts__column-socials">
            <a class="socials__link contacts__column-socials-link socials__link--tg" href="#" aria-label="to telegram">

            </a>
            <a class="socials__link contacts__column-socials-link socials__link--whatsapp" href="#" aria-label="to whatsapp">

            </a>
          </div>
          </div>
        </div>

          <div class="contacts__column-item">
            <h3 class="contacts__column-head">Электронная почта</h3>
            <a class="contacts__column-mail" href="mailto:info@emulcom.ru">info@emulcom.ru</a>
          </div>

          <div class="contacts__column-item">
            <h3 class="contacts__column-head">Адрес</h3>
            <address class="contacts__column-address">141441, Московская обл., г. Химки, д. Елино,ул. Летняя, строение 1, этаж 1, каб. 125</address>
          </div>
      </div>

      <ul class="contacts__list list-reset">
        <li class="contacts__item">
          <span class="contacts__item-name">Иванов Иван</span>
          <p class="contacts__item-post">менеджер по продажам парафиновых эмульсий</p>
          <a class="contacts__item-phone" href="79165554433">+7 (916) 555-44-33</a>
          <div class="socials">
            <a class="socials__link socials__link--tg" href="#" aria-label="to telegram"></a>
            <a class="socials__link socials__link--whatsapp" href="#" aria-label="to whatsapp"></a>
          </div>
        </li>

        <li class="contacts__item">
          <span class="contacts__item-name">Сидорова Ольга</span>
          <p class="contacts__item-post">менеджер по продажам масляных эмульсий</p>
          <a class="contacts__item-phone" href="79156665544">+7 (915) 666-55-44</a>
          <div class="socials">
            <a class="socials__link socials__link--tg" href="#" aria-label="to telegram"></a>
            <a class="socials__link socials__link--whatsapp" href="#" aria-label="to whatsapp"></a>
          </div>
        </li>


        <li class="contacts__item">
          <span class="contacts__item-name">Петров Петр</span>
          <p class="contacts__item-post">менеджер по продажам силиконовых эмульсий</p>
          <a class="contacts__item-phone" href="79878889999">+7 (987) 888-99-99</a>
          <div class="socials">
            <a class="socials__link socials__link--tg" href="#" aria-label="to telegram"></a>
            <a class="socials__link socials__link--whatsapp" href="#" aria-label="to whatsapp"></a>
          </div>
        </li>
      </ul>

      <small class="contacts__info-policy">Ⓒ Компания ЭМУЛЬКОМ: парафиновая эмульсия, масляная эмульсия, аналитическая лаборатория. 2008—2023 © ООО «ЭМУЛЬКОМ»</small>
    </div>

    <form class="contacts__form">
      <h3 class="contacts__form-title">Заполните анкету, мы с Вами свяжимся</h3>
      <input class="contacts__form-field" type="text" placeholder="Ваше имя">
      <input class="contacts__form-field" type="text" placeholder="Название компании">
      <input class="contacts__form-field" type="tel" placeholder="Контактный телефон">
      <input class="contacts__form-field" type="email" placeholder="Адрес электронной почты">

      <div class="contacts__form-box">
        <button type="submit" class="contacts__form-btn btn-reset">Отправить</button>
        <small class="contacts__form-policy">
          Нажимая кнопку отправить вы соглашаетесь с политикой конфиденциальности
        </small>
      </div>
    </form>




  </div>
</section>
