<header class="header">
  <div class="header__container">
    <div class="header__left">
      <div class="burger-box header__burger-box">
        <button
          class="btn-reset burger"
          aria-label="Открыть меню"
          aria-expanded="false"
          data-burger
        >
          <span class="burger__line"></span>
        </button>

        <span class="burger__head">МЕНЮ</span>
      </div>


        <nav class="nav" title="main nav">
          <ul class="list-reset nav__list">
            <li class="nav__item">
              <a href="#products" class="nav__link" data-scroll>Продукции</a>
            </li>
            <li class="nav__item"><a href="#production" class="nav__link" data-scroll>Производство</a></li>
            <li class="nav__item">
              <a href="#contacts" class="nav__link" data-scroll>Контакты</a>
            </li>
          </ul>
        </nav>
      </div>


      <a class="logo header__logo" aria-label="logo emulcom"></a>

      <div class="user-nav">
        <button class="user-nav__search nav-search btn-reset">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z"
              fill="white"
            />
          </svg>

          <span class="nav-search__head">Поиск</span>
        </button>
        <div class="user-nav__phone nav-phone">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M6.62 10.79C8.06 13.62 10.38 15.93 13.21 17.38L15.41 15.18C15.68 14.91 16.08 14.82 16.43 14.94C17.55 15.31 18.76 15.51 20 15.51C20.55 15.51 21 15.96 21 16.51V20C21 20.55 20.55 21 20 21C10.61 21 3 13.39 3 4C3 3.45 3.45 3 4 3H7.5C8.05 3 8.5 3.45 8.5 4C8.5 5.25 8.7 6.45 9.07 7.57C9.18 7.92 9.1 8.31 8.82 8.59L6.62 10.79Z"
              fill="white"
            />
          </svg>

          <a class="nav-phone__link" href="tel:74959677307">+7 (495) 967-7307</a>
        </div>
        <button class="user-nav__lang nav-lang btn-reset">
          <div class="user-nav__lang-box">
            <div class="lang-dropdown">
              <ul class="lang-dropdown__list list-reset">
                <li class="lang-dropdown__item">EN</li>
                <li class="lang-dropdown__item">UA</li>
                <li class="lang-dropdown__item">DE</li>
              </ul>
            </div>
          </div>
          <span class="nav-lang__head current-lang">РУ</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M5.41333 6.19329L8 8.77996L10.5867 6.19329C10.8467 5.93329 11.2667 5.93329 11.5267 6.19329C11.7867 6.45329 11.7867 6.87329 11.5267 7.13329L8.46667 10.1933C8.20667 10.4533 7.78667 10.4533 7.52667 10.1933L4.46667 7.13329C4.20667 6.87329 4.20667 6.45329 4.46667 6.19329C4.72667 5.93996 5.15333 5.93329 5.41333 6.19329Z"
              fill="white"
            />
          </svg>


        </button>


      </div>

      <div class="menu">
        <button class="menu__close btn-reset">X</button>
        <nav class="nav" title="main nav">
          <ul class="list-reset nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link">Продукции</a>
            </li>
            <li class="nav__item"><a href="#" class="nav__link">Продажи</a></li>
            <li class="nav__item">
              <a href="#" class="nav__link">Контакты</a>
            </li>
          </ul>
        </nav>

        <div class="user-nav">
          <button class="user-nav__search nav-search btn-reset">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z"
                fill="white"
              />
            </svg>

            <span class="nav-search__head">Поиск</span>
          </button>
          <div class="user-nav__phone nav-phone">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M6.62 10.79C8.06 13.62 10.38 15.93 13.21 17.38L15.41 15.18C15.68 14.91 16.08 14.82 16.43 14.94C17.55 15.31 18.76 15.51 20 15.51C20.55 15.51 21 15.96 21 16.51V20C21 20.55 20.55 21 20 21C10.61 21 3 13.39 3 4C3 3.45 3.45 3 4 3H7.5C8.05 3 8.5 3.45 8.5 4C8.5 5.25 8.7 6.45 9.07 7.57C9.18 7.92 9.1 8.31 8.82 8.59L6.62 10.79Z"
                fill="white"
              />
            </svg>

            <a class="nav-phone__link" href="tel:74959677307">+7 (495) 967-7307</a>
          </div>
          <button class="user-nav__lang nav-lang btn-reset">
            <span class="nav-lang__head">РУ</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
            >
              <path
                d="M5.41333 6.19329L8 8.77996L10.5867 6.19329C10.8467 5.93329 11.2667 5.93329 11.5267 6.19329C11.7867 6.45329 11.7867 6.87329 11.5267 7.13329L8.46667 10.1933C8.20667 10.4533 7.78667 10.4533 7.52667 10.1933L4.46667 7.13329C4.20667 6.87329 4.20667 6.45329 4.46667 6.19329C4.72667 5.93996 5.15333 5.93329 5.41333 6.19329Z"
                fill="white"
              />
            </svg>


          </button>
        </div>

      </div>
  </div>
</header>
