<section class="production" id="production">
  <div class="container grid">
    <div class="production__text">
      <span class="section-counter production__counter">
        02 - ПРОИЗВОДСТВО
      </span>

      <h2 class="production__title section-title">Современное оборудование, инновационный подход</h2>

      <p class="production__descr">Производство эмульсий осуществляется компанией на современном оборудовании. Завод
        построен и начал производить масляные и парафиновые эмульсии в 2010 г. Возможности производства масляных
        эмульсий достигают 17000 тонн в год, что полностью перекрывает потребность российского рынка и экспорта.</p>

      <button class="production__btn btn-reset">Лаборатория
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path
            d="M4.16667 10.8333H13.475L9.40834 14.9C9.08334 15.225 9.08334 15.7583 9.40834 16.0833C9.73334 16.4083 10.2583 16.4083 10.5833 16.0833L16.075 10.5917C16.4 10.2667 16.4 9.74166 16.075 9.41666L10.5917 3.91666C10.2667 3.59166 9.74167 3.59166 9.41667 3.91666C9.09167 4.24166 9.09167 4.76666 9.41667 5.09166L13.475 9.16666H4.16667C3.70834 9.16666 3.33334 9.54166 3.33334 10C3.33334 10.4583 3.70834 10.8333 4.16667 10.8333Z"
            fill="#4D5D99" />
        </svg>
      </button>
    </div>

    <div class="production__box">
      <div class="production__box-img">
        <img class="production__img" src="../img/production-img.jpg" alt="Equipment">
      </div>

      <div class="production__box-block">
        <div class="production__block-inner">
          <svg class="production__block-arrow" xmlns="http://www.w3.org/2000/svg" width="29" height="29"
            viewBox="0 0 29 29" fill="none">
            <rect x="0.0499268" y="26.8289" width="37.9417" height="3" transform="rotate(-45 0.0499268 26.8289)"
              fill="white" />
            <mask id="path-2-inside-1_210_81" fill="white">
              <path d="M5 0H29V23.9954H5V0Z" />
            </mask>
            <path d="M29 0H32V-3H29V0ZM5 3H29V-3H5V3ZM26 0V23.9954H32V0H26Z" fill="white"
              mask="url(#path-2-inside-1_210_81)" />
          </svg>

          <span class="production__block-more">подробнее</span>
        </div>
      </div>

    </div>
  </div>
</section>
